* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/skyscraper.png);
  font-family: "Arial", "Helvetica Neue", sans-serif;
  line-height: 1.8em;
  color: #777777;
}
h1,h2,h3 {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: 600;
  color: #4aaaa5;
}

p {
  margin-bottom: 25px;
}

header {
  background: #fff; 
  width: 100%;
  display: block; 
  margin-bottom: 40px; 
  border-bottom: 3px solid #cccccc;
}

footer {
  width: 100%;
  position: fixed; 
  bottom: 0;
  background: #666666;
  color: #ddd;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  margin-top: 20px;
  padding: 25px 0;
}

#left-column {
  width: 650px; 
  float: left; 
  background: #fff; 
  padding: 30px;
  margin-bottom: 200px;
  border: 1px solid #dddddd;
}

#right-column {
  float: right;
  background: #fff;
  width: 270px;
  padding: 30px;
  border: 1px solid #dddddd;
}

.wrapper{
  width: 960px; 
  margin: 0 auto; 
}

h1.title {
  display: inline-block;
  background: #4aaaa5; 
  font-size: 40px; 
  color: white; 
  padding: 30px 35px;
}

nav {
  float: right;
}

nav ul {
  padding: 30px 0;
}

nav ul li{
  display: inline-block;
  padding: 0 8px; 
  border-right: 1px solid #ccc;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  padding: 5px 8px;
  color: #777777;
  text-decoration: none;
}

nav ul li a:hover { 
  color: #fff;
  background: #4aaaa5;
} 

h2.page-title {
  border-bottom: 3px solid #dddddd; 
  font-size: 32px; 
  color: #4aaaa5; 
  padding:10px 0 30px 0; 
  margin-bottom: 35px;
}

img.bio-pic {
  float: left; 
  margin: 0 10px 10px 0;
  max-width: 200px;
}

h3.sidebar-title {
  border-bottom: 2px solid #dddddd;
  font-size: 20px;
  padding: 0 0 15px 0;
  margin-bottom: 20px;
}

ul.social-icons {

}

ul.social-icons li.icon {
  display: inline-block;
}

ul.social-icons li.icon a img {
  max-width: 60px;
  margin-right: 9px;
}

ul.social-icons li.icon:nth-child(3n) a img {
  margin-right: 0px;
} 

li.portfolio-item {
  display: inline-block;
  width: 275px;
  height: 206px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

li.hangman {
  background-image: url(../images/hangman.png);
}

li.rpg {
    background-image: url(../images/rpg.jpg);
}

li.trivia {
    background-image: url(../images/trivia.gif);
}

li.widget {
    background-image: url(../images/widget.png);
}

li.rps {
    background-image: url(../images/rps.png);
}

li.portfolio-item:nth-child(odd) {
  float: left;
}

li.portfolio-item:nth-child(even) {
  float: right;
}

h3.portfolio-item-title {
  position: absolute;
  width: 100%;
  text-align: center;
  background: #4aaaa5;
  color: #fff;
  bottom: 12px;
  padding: 12px 0;
  font-weight: 400;
  font-size: 20px;
}

label {
  display: block;
  font-size: 18px;
}

input[type="text"], input[type="email"] {
  width: 100%;
  margin: 4px 0 10px 0;
  height: 30px;
  border: 1px solid #ddd;
  font-size: 15px;
  padding: 4px 8px;
}

textarea {
  width: 100%;
  margin-top: 4px;
  border: 1px solid #ddd;
  font-size: 15px;
  padding: 4px 8px;
}

input[type="submit"] {
  background: #4aaaa5;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
}